{% extends "pizzas/base.html" %}

{% block page_header %}

<h1>{{ pizza }}</h1>

{% endblock page_header %}

{% block content %}
<P>
    <a href="{% url 'pizzas:pizzas' %}">Pizza Menu</a>
</P>


    {% for t in toppings %}
    <div class='card mb-3'>
        <div class='card-body'>
            {{ t }}
        </div>
    </div>
   
    {% empty %}
    <p> There are no toppings on this pizza.<p>
    {% endfor %}

    <P>Comments: </P>

    {% for c in comment %} 
    <div class="card mb-3">
        <div class = "card-body">
            {{c|linebreaks }}
        </div>
    </div>

    {% empty %} 
    <P> There have been no comments made yet for this pizza.</P>
    {% endfor %} 

    <h3><a href="{% url 'pizzas:comment' pizza.id %}">Add a new comment</a></h3>

    {% for i in image %} 
    <div class="col-md-4">
        <img src="{{i.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"/>

    </div>

    {% empty %} 
    <p> No image is available for this pizza.</p>

    {% endfor %} 
{% endblock content %}